/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: sticky;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #EFE9DA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #CFDBE3;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color:#EFE9DA;
    color:  #383834;
}

.title{
  font-size:60px;
  text-align: center;
  color: #F9F3E6;
}

body{
  background-image: url("https://i.ytimg.com/vi/-72gPEwNALY/maxresdefault.jpg");
  background-repeat: 1;
  background-size: 100%;
}

.subtitle{
  color: #F3F3DD;
  font-size: 60px;
}

.email{
  color:#CFDBE3;
}